@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

#root{
    min-height: 100vh;
    display: flex;
}

/* AIzaSyCuH6J9EhJUasbY8JknaYzC3HsKrlurCGg */

.main-bottom button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Add smooth transition */
}

.main-bottom button:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Add subtle background on hover */
}